## Build
bin/
obj/

## IDE
.vs/
.idea/
*.user
*.suo

## Environment
.env
appsettings.*.local.json
src/Tacdent.Api/appsettings.Development.json

## OS
.DS_Store

## EF
*.db
*.db-shm
*.db-wal
